footer {
  position: relative;
  background-color: var(--bg-color-header-footer);
  width: 100%;
  height: 100px;
  left: 0;
  opacity: 60%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}